
<main class="max-w-3xl mx-auto flex flex-col h-[100svh]">
	<%= render "shared/titlebar" %>
	<div class="gap-2 px-2 pt-1">
		<%= render partial: "king_main/user", collection: @users, as: :user %>
	</div>
</main>