<% if flash[:notice] %>
  <div data-controller="hide-flash" class="p-4 mt-2 mx-2 fixed top-0 left-0 right-0 text-black bg-white rounded select-none flex justify-between items-center"><%= notice %><div data-action="click->hide-flash#close" class="p-2 rounded-full cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"/></svg></div></div>
<% end %>

<% if flash[:alert] %>
  <div data-controller="hide-flash" class="p-4 mt-2 mx-2 fixed top-0 left-0 right-0 text-black bg-red-500 rounded select-none flex justify-between items-center"><%= alert %><div data-action="click->hide-flash#close" class="p-2 rounded-full cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"/></svg></div></div>
<% end %>