

<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
  <h3 style="font-size: 2rem; margin-block: .5em;">Chat<span style="color: #507f9f;">.anirudha</span></h3>
  <p style="font-size: 18px; color: #000; margin-bottom: 0;"><%= @sender.username %> sent you a message</p>
  <p style="margin-top: .5rem; color: #222;"><%= @message %></p>
  <p style="margin-top: 16px;">
    <a href="<%= messages_url(@sender) %>" style="display: inline-block; padding: 10px 20px; background-color: #3c7499; color: #fff; text-decoration: none; border-radius: 4px; transition: background-color 0.3s;">View Message</a>
  </p>
  <a href="<%= edit_user_registration_url %>" style="margin-top: 2.5rem; font-size: 12px; color: blue; text-decoration: underline;">Unsubscribe</a>
</div>