<!-- app/views/user_mailer/welcome_email.html.erb -->

<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
  <h3 style="font-size: 2rem; margin-block: .5em;">Chat<span style="color: #507f9f;">.anirudha</span></h3>
  <p style="font-size: 18px; color: #333;">Welcome <%= @email %>!</p>
  <p style="margin-top: 16px; color: #444;">You can confirm your account email through the link below:</p>
  <p style="margin-top: 16px;">
    <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>" style="display: inline-block; padding: 10px 20px; background-color: #3c7499; color: #fff; text-decoration: none; border-radius: 4px; transition: background-color 0.3s;">Confirm my account</a>
  </p>
</div>
