<!-- app/views/user_mailer/password_changed_notification.html.erb -->

<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
  <p style="font-size: 18px; color: #333;">Hello <%= @resource.email %>!</p>

  <p style="margin-top: 16px; color: #666;">We're contacting you to notify you that your password has been changed.</p>

  <hr style="margin-top: 20px; border: 0; border-top: 1px solid #ccc;">

  <p style="margin-top: 16px; color: #666;">Best regards,</p>
  <p style="margin-top: 4px; color: #666;">Anirudha</p>
</div>
